# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

output-1.csv
output-2.csv
output-3.csv
output-4.csv
output-5.csv
output-6.csv
output-7.csv
output-8.csv
output-9.csv
output-10.csv
output-11.csv
output-12.csv
output-13.csv
output-14.csv
output-15.csv
output-16.csv



